[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "extern/luajit-2.0"]
	path = extern/luajit-2.0
	url = https://luajit.org/git/luajit-2.0.git
[submodule "extern/nfde"]
	path = extern/nfde
	url = https://github.com/btzy/nativefiledialog-extended/
