[submodule "extern/FreeGLUT"]
	path = extern/FreeGLUT
	url = ../../dcnieho/FreeGLUT
[submodule "extern/glew-cmake"]
	path = extern/glew-cmake
	url = ../../Perlmint/glew-cmake
[submodule "extern/stb"]
	path = extern/stb
	url = ../../nothings/stb
