#Build artefacts
build*/

#CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

#Make
Makefile

#Ninja
.ninja*
*.ninja

#freeglut
freeglut.pc
 
#glew-cmake
lib/
config.h

#Config files and folders
compile_commands.json
.clangd/

#Custom build/run files
build.sh
run.sh
