#Build artefacts
build*/
.cache/
Mandelscape.zip

#CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

#Make
Makefile

#Ninja
.ninja*
*.ninja

#glew-cmake
lib/
config.h

#Config files and folders
compile_commands.json
.clangd/

#Custom build/run files
/*.sh

#Local diagnostic files
*.cap

#IDE artifacts
/.vs
/CMakeSettings.json
.vscode/

#Coverage files
coverage/

#ctags
tags

#screenshots
screenshots/

#params
params/
